/*--------------------------------------------------------------------------------------------------------------Général--------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: FontCel;
    src: url('RexliaBK.ttf');
}

body{
	background: url("Cadres/BG2.jpg") no-repeat center top #000000 fixed;
	behavior: url("csshover.htc");
	color:white;
	font-size:12px;
	font-family: verdana, sans-serif;
}

:root{
	--back2:url('Fonds/Grille.png') rgba(22, 104, 159, 0.2);
	--border2:1px solid rgba(0, 186, 255, 0.5);
	--shadow2:inset 0px 0px 45px rgba(0, 186, 255, 0.4);
}
/*--------------------------------------------------------------------------------------------------------------Interface principale--------------------------------------------------------------------------------------------------------------*/
.StyleRed {color: #FF0000;text-shadow: 0 0 10px rgba(255, 0, 0, 0.72), 0 0 10px rgba(255, 0, 0, 0.72);font-family: FontCel, verdana, sans-serif;}
.StyleBlue {color: #0099FF;text-shadow: 0 0 10px rgba(87, 188, 255, 0.72), 0 0 10px rgba(87, 188, 255, 0.72);font-family: FontCel, verdana, sans-serif;}
.StyleGreen {color: #00CC66;text-shadow: 0 0 10px rgba(0, 234, 117, 0.72), 0 0 10px rgba(0, 234, 117, 0.72);font-family: FontCel, verdana, sans-serif;}
.StyleOrange {color: #FF6600;text-shadow: 0 0 10px rgba(255, 145, 72, 0.72), 0 0 10px rgba(255, 145, 72, 0.72);font-family: FontCel, verdana, sans-serif;}
.StyleCible{font-weight:bold;}
.StyleTirs{font-weight:bold;}
.StyleDegats{font-weight:bold;}
.StyleEff{font-weight:bold;}
.VNb{font-weight:bold;}
.VAtt{color:#CCCCCC;font-size:11px;}
.VStr{color:#CCCCCC;font-size:11px;}
.Echec{color:#FF0000;font-size:14px;font-weight:bold;}

.IcoPrest{background:url("Cadres/Prestige2.png") repeat center;}
.IcoResM{background:url("Cadres/ResM2.png") repeat center;}
.IcoResT{background:url("Cadres/ResT2.png") repeat center;}
.IcoResP{background:url("Cadres/ResP2.png") repeat center;}
.IcoResH{background:url("Cadres/ResH2.png") repeat center;}

.NomOP{
	position:absolute;
	top:-40px;
	left:-40px;
	width:510px;
	height:20px;
	line-height:20px;
	font-size:20px;
	text-align:center;
	padding:10px;
	box-shadow: 0px 0px 10px black;
	border-radius: 10px;
	background: rgba(1, 34, 50, 0.6);
	border: 1px solid rgba(0, 186, 255, 0.5);
	font-family: FontCel, verdana, sans-serif;
}

.TabStrategie{
	background: url("Cadres/Fond3.png") repeat;
	color:#FFFFFF;
	border:2px solid #285374;
}
.TabStrategie td{
	border:1px solid #285374;
	white-space:pre;
}

.info1 {
   position: relative;
   text-decoration: none;
}
.info1 .InfoBulle{
   display: none;
}
.info1:hover{
   z-index: 500;
   cursor: help;
}
.info1:hover .InfoBulle{
	display: inline;
	position: absolute;
	
	top: 30px;
	left: -10px;
	width:auto;
	height:auto;
	max-width:500px;
	white-space:normal;
	padding: 10px;
	background:url("Cadres/Fond1.png") repeat;
	border:2px solid #676c73;
}

.Page{
	position:relative;
	margin: 0 auto;
	padding:20px;
	white-space:nowrap;
	border:1px solid #383a3d;
	border-radius:4px;
	background: url("Cadres/Grille.png") repeat;
	border: 1px solid rgba(0, 186, 255, 0.5);
	box-shadow: inset 0px 0px 85px rgba(0, 186, 255, 0.4),0px 0px 15px rgba(0, 186, 255, 0.4);
	margin-top: 50px;
	margin-left: 110px;
}
.Degats{
	position:relative;
	padding:3px;
	
	border-radius: 4px;
	background: rgba(1, 34, 50, 0.6);
	border: 1px solid rgba(0, 186, 255, 0.5);
	box-shadow: inset 0px 0px 15px rgba(0, 186, 255, 0.4),0px 0px 15px rgba(0, 186, 255, 0.4);
}

.Degats div{
	overflow:hidden;
	min-width:500px;
	width:auto;
	height:0px;
	transition: height 0.2s ease-in;
	-moz-transition: height 0.2s ease-in;
	-webkit-transition: height 0.2s ease-in;
	-o-transition: height 0.2s ease-in;
}
.Degats:hover div{
	height:auto;
}

.Events{
	position:relative;
	padding:3px;
	
	border-radius: 4px;
	background: rgba(1, 34, 50, 0.6);
	border: 1px solid rgba(0, 186, 255, 0.5);
	box-shadow: inset 0px 0px 15px rgba(0, 186, 255, 0.4),0px 0px 15px rgba(0, 186, 255, 0.4);
}
.Events .EvL{
	clear:both;
	border-bottom:1px solid #4d5156;
	margin:1px;
	padding:1px;
	min-height:30px;
	height:auto;
	transition: height 0.2s ease-in;
	-moz-transition: height 0.2s ease-in;
	-webkit-transition: height 0.2s ease-in;
	-o-transition: height 0.2s ease-in;
}
.Events .EvL i{
	display:none;
}
.Events .EvL:hover i{
	display:block;
}

.ListeFlottes{
	margin: 0 auto;
}
.ListeVaisseaux{
	margin: 0 auto;
	border:1px solid #4d5156;
	background: url("Cadres/Fond3.png") repeat;
}

.Flotte{
	position:relative;
	text-align:center;
	clear:both;
	/* height:100px; */
	text-align:center;
	border-radius: 4px;
	background: rgba(22, 104, 159, 0.2);
	border: 1px solid rgba(0, 186, 255, 0.5);
	box-shadow: inset 0px 0px 15px rgba(0, 186, 255, 0.4),0px 0px 15px rgba(0, 186, 255, 0.4);
}
.Flotte:hover{
	z-index:20;
}
.FlotteU{
	margin-left:auto;
	margin-right:auto;
}

.VS{
	font-size:30px;
	text-align:center;
}

.VNb{
	position:absolute;
	top:2px;
	left:2px;
	width:74px;
	height:15px;
	border-radius:3px;
	border:1px solid rgba(0, 186, 255, 0.5);
	z-index:2;
	font-size:12px;
	text-align:left;
	background: rgba(1, 34, 50, 0.6);
}
.Case{
	float:left;
	position:relative;
	width:52px;
	height:52px;
	white-space:nowrap;
	transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
	-moz-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6 ease-in;
	-webkit-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
	-o-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
}
.Vignette{
	position:absolute;
	overflow:hidden;
	width:50px;
	height:50px;
	border-radius:5px;
	border:1px solid rgba(0, 186, 255, 0.5);
	background: #12232f;
	box-shadow:0px 0px 10px black;
	transition: width 0.2s ease-in,height 0.2s ease-in;
	
	box-shadow: inset 0px 0px 8px rgba(0, 186, 255, 0.4),0px 0px 8px rgba(0, 186, 255, 0.4);
}
.Vignette:hover{
	width:350px;
	height:auto;
	z-index:20;
}
.Vignette img{
	width:50px;
	height:50px;
	border-radius:6px;
	transition: width 0.2s ease-in,height 0.2s ease-in;
	-moz-transition: width 0.2s ease-in,height 0.2s ease-in;
	-webkit-transition: width 0.2s ease-in,height 0.2s ease-in;
	-o-transition: width 0.2s ease-in,height 0.2s ease-in;
}
.Vignette:hover img{
	width:350px;
	height:350px;
}
.Vignette .VNbI{
	width:50px;
	background: #12232f;
	height:2px;
	position:absolute;
	top:48px;
	left:0px;
	transition: top 0.2s ease-in;
}
.Vignette:hover .VNbI{
	top:346px;
}

.VNbIn2{
	width:50px;
	background: #ff9c01;
	height:1px;
	position:absolute;
	top:-2px;
	left:0px;
	transition: width 0.8s ease-in;
	box-shadow: 0 0 10px rgba(255, 156, 1, 0.72),0 0 10px rgba(0, 234, 117, 0.72);
}

.VNbIn{
	width:50px;
	background: #2a9832;
	height:2px;
	position:absolute;
	top:0px;
	left:0px;
	transition: width 0.8s ease-in;
	box-shadow: 0 0 10px rgba(0, 234, 117, 0.72),0 0 10px rgba(0, 234, 117, 0.72);
}
.VNbIl{
	width:50px;
	background: #991313;
	height:2px;
	position:absolute;
	top:0px;
	transition: width 0.8s ease-in,left 0.8s ease-in;
	box-shadow: 0 0 10px rgba(200, 0, 0, 1),0 0 10px rgba(200, 0, 0, 1);
}

.BarreProg{
	position:relative;
	width:600px;
	height:15px;
	border:1px solid #383a3d;
	border-radius:5px;
	background: #5d99e2;
	background: url('Cadres/BarreB.png') #5d99e2 repeat;
	animation: BarreB 5s linear infinite;
	overflow:hidden;
	opacity:0.75;
}
.BarreIn{
	position:absolute;
	top:0px;
	left:0px;
	height:15px;
	border:1px solid red;
	background: url('Cadres/BarreR.png') #e45655 repeat;
	animation: BarreR 5s linear infinite;
	
	transition: width 0.8s ease-in;
	-moz-transition: width 0.8s ease-in;
	-webkit-transition: width 0.8s ease-in;
	-o-transition: width 0.8s ease-in;
}
@keyframes BarreB { 0% {background-position:0 -12px;}	100% {background-position:-44px -12px;} }
@keyframes BarreR { 0% {background-position:0 -12px;}	100% {background-position:44px -12px;} }
.BarreAtt{
	position:absolute;
	z-index:10;
	top:0px;
	left:2px;
	width:auto;
	font-size:12px;
}
.BarreDef{
	position:absolute;
	z-index:10;
	top:0px;
	right:2px;
	width:auto;
	font-size:12px;
}
.BarreTitre{
	position:absolute;
	z-index:10;
	top:0px;
	left:50%;
	width:50px;
	margin-left:-25px;
	font-size:12px;
	text-align:center;
}

.Round{
	position:absolute;
	top:0px;
	left:0px;
	box-shadow:0px 0px 10px black;
	border-radius: 10px 0px 10px 0px;
	width:40px;
	height:40px;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	
	font-family: FontCel, verdana, sans-serif;
	
	background: rgba(1, 34, 50, 0.6);
	border: 1px solid rgba(0, 186, 255, 0.5);
}

.FlotteD{
	width:0px;
	height:0px;
	opacity:0;
	text-align:center;
	overflow:hidden;
	transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
	-moz-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6 ease-in;
	-webkit-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
	-o-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
}

.ProgRounds{
	position:absolute;
	top:3px;
	left:45px;
	border-radius:5px;
	
	font-family: FontCel, verdana, sans-serif;
	
	background: rgba(1, 34, 50, 0.6);
	border: 1px solid rgba(0, 186, 255, 0.5);
}

.RoundV, .RoundVO{
	font-size:14px;
	font-weight:bold;
	width:15px;
	height:20px;
	margin:2px;
	background: #044e82;
	border:1px solid #00385f;
	border-radius:2px;
	float:left;
	color:#00385f;
	text-align:center;
}
.RoundVO{
	background: #00385f;
	border:1px solid #0774c0;
	color:#0774c0;
}
.RoundV:hover{
	cursor:pointer;
}
.Ico{
	width:20px;
	height:20px;
	border:1px solid #0774c0;
	border-radius:10px;
}
.btn{
	float:left;
	margin:2px;
}

.IcoEv{
	float:left;
	width:25px;
	height:25px;
	margin-right:10px;
}

.IcoPrest,.IcoResM,.IcoResT,.IcoResP,.IcoResH{
	display: inline;
	width:20px;
	height:20px;
	padding:0px;
	margin:0px;
	padding-left:15px;
	margin-right:5px;
}

p{
	width:340px;
	height:auto;
	padding:5px;
	white-space : normal;
	text-align:justify;
}

.Polyg{
	position:absolute;
	top:-40px;
	left:-140px;
	width:150px;
	height:150px;
	border-radius:75px;
	background:url('Cadres/Grille.png') center;
	box-shadow: inset 0px 0px 45px rgba(0, 186, 255, 0.4),0px 0px 5px rgba(0, 186, 255, 0.4);
	border: 1px solid rgba(0, 186, 255, 0.5);
	z-index:1;
	overflow:hidden;
}
.ChInfo{
	position:absolute;
	z-index:10;
	opacity:0;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:url('Cadres/Grille.png') center;
	box-shadow: inset 0px 0px 45px rgba(0, 186, 255, 0.4),0px 0px 5px rgba(0, 186, 255, 0.4);
	transition:opacity 0.4s linear;
	padding-top:25px;
}
.Polyg:hover .ChInfo{
	opacity:1;
}

/*---------------Officiers-----------------------*/

.CaseOff{
	float:left;
	position:relative;
	width:36px;
	height:52px;
	white-space:nowrap;
	transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
	-moz-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6 ease-in;
	-webkit-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
	-o-transition: width 0.8s 0.5s ease-in,height 0.8s 0.5s ease-in,opacity 0.6s ease-in;
}
.VignetteOff{
	position:absolute;
	overflow:hidden;
	width:34px;
	height:50px;
	border-radius:5px;
	border:1px solid rgba(0, 186, 255, 0.5);
	background: #12232f;
	box-shadow:0px 0px 10px black;
	transition: width 0.2s ease-in,height 0.2s ease-in;
	
	box-shadow: inset 0px 0px 8px rgba(0, 186, 255, 0.4),0px 0px 8px rgba(0, 186, 255, 0.4);
}
.VignetteOff:hover{
	width:122px;
	height:180px;
	z-index:20;
}
.VOffImg{
	position:absolute;
	top:0px;
	left:0px;
	width:34px;
	height:50px;
}
.VignetteOff:hover .Officier{
	opacity:1;
}

.Officier{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:3px;
	border:var(--border2) !important;
	background:var(--back2);
	box-shadow: var(--shadow2);
	width:122px;
	height:180px;
	vertical-align: top;
	background-image:url('Icones/OffAdd.png');
	background-repeat:no-repeat;
	background-position:center;
	transition:opacity 0.3s ease-in;
	opacity:0;
}
.OfficierImg{
	position:absolute;
	top:0px;
	left:0px;
	width:122px;
	border-radius:3px;
}
.OfficierB{
	position:absolute;
	bottom:0px;
	left:0px;
	width:calc(100% - 6px);
	height:30px;
	border-top:var(--border2);
	background:var(--back2);
	box-shadow: var(--shadow2);
	border-radius:0px 0px 3px 3px;
	padding-left:3px;
	padding-right:3px;
}
.OfficierN{
	position:absolute;
	bottom: 33px;
	left:0px;
	height:15px;
	border-bottom:var(--border2);
	border-right:var(--border2);
	background:var(--back2);
	box-shadow: var(--shadow2);
	border-radius:0px 3px 0px 0px;
	padding-left:3px;
	padding-right:3px;
	z-index:5;
}
.OfficierT{
	position:absolute;
	top:-5px;
	right:-5px;
	width:30px;
	height:30px;
	border-radius:15px;
	border:var(--border2);
	background:var(--back2);
	box-shadow: var(--shadow2);
	z-index:5;
}

.Off10{
	color:#a4a4a4;
}
.Off20{
	color:#4bb0ff;
}
.Off30{
	color:#14b000;
}
.Off40{
	color:#f2ec00;
}
.Off50{
	color:#ff0000;
}
.Off60{
	color:#c300dd;
}

.VNbOff{
	position:absolute;
	top:38px;
	left:2px;
}
.CaseOffX{
	position: relative;
	display: inline-block;
	border:var(--border2);
	background:var(--back2);
	box-shadow: var(--shadow2);
	border-radius:3px;
	width: 130px;
	margin: 2px;
}